/* -------- HEADER -------- */
.intestazione {
    background-color: aquamarine;
    padding-top: 40px;
    padding-bottom: 40px;
}

#contenitore-intestazione-logo {
    margin-inline-start: 20px;
}

#logo-svg {
    width: 250px;
    height: auto;
}

/* ------------------------ */

/* -------- MAIN -------- */
.corpo-pagina {
    padding-left: 20px;
    padding-top: 40px;
}

/* SEZIONE HEADER */
#titolo-sezione-uno,
#paragrafo-uno-sezione-uno,
#paragrafo-due-sezione-due {
    margin: 0;
}

#titolo-sezione-uno {
    font-size: 40px;
}

#paragrafo-uno-sezione-uno,
#paragrafo-due-sezione-due {
    color: gray;
}

#paragrafo-uno-sezione-uno {
    font-size: 20px;
}


/* SEZIONE FIGURE */
#contenitore-sezione-immagine {
    padding-top: 10px;
    margin-inline-start: 0px;
    margin-block-end: 0px;
}

#paragrafo-tre-sezione-uno,
#paragrafo-quattro-sezione-uno {
    margin: 0;
}


/* SEZIONE PARAGRAPH */
#paragrafo-cinque-sezione-uno u {
    background-color: yellow;
    text-decoration: none;
}


/* SEZIONE UNORDERED LIST */
.lista-sezione-uno {
    padding-top: 10px;
    padding-left: 10px;
}

/* ------------------------ */