/* -------- HEADER -------- */
.intestazione {
    background-color: aquamarine;
    padding-top: 40px;
    padding-bottom: 40px;
}

#contenitore-intestazione-logo {
    margin-inline-start: 20px;
}

#logo-svg {
    width: 250px;
    height: auto;
}

/* ------------------------ */

/* -------- MAIN -------- */
.corpo-pagina {
    margin-inline-start: 20px;
}

/* SEZIONE UNO */
.contenitore-sezione-uno {
    padding-top: 30px;
    line-height: 0.1;
}

.contenitore-sezione-uno h1 {
    font-size: 40px;
}

#paragrafo-uno-sezione-uno,
#paragrafo-due-sezione-due {
    color: gray;
}

#paragrafo-uno-sezione-uno {
    font-size: 20px;
}
/* ------------------------ */